[Unit]
Description=JiraBot startup script

[Service]
# Tokens for Jira
Environment="JIRA_BOT_TELEGRAM_TOKEN="

ExecStart=/home/viacheslav/Program/JiraBot/run.sh start

[Install]
WantedBy=multi-user.target
